@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "magnific-popup";
@import "creative";
@import "lessons";
@import "words";

body {
  padding-top: 50px;
}

.fa-facebook-square{
  color: #3C5A99;
}

.fa-google{
  color: #DB4437;
}
