<% provide :title, t(".categories") %>
<div id="categories-index">
  <h1><%= t ".categories" %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t ".category" %></th>
        <th scope="col"><%= t ".words" %></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="category in categories" :key="category.id">
        <td><a :href="'/categories/' + category.id">{{ category.title }}</a></td>
        <td>{{ category.words_count }}</td>
      </tr>
    </tbody>
  </table>
</div>
